<div class="product-card" id="card-<%= product._id %>">

  <div class="product-image">
    <a href="/products/<%= product._id %>">
      <img src="<%= product.image %>" alt="<%= product.name %>">
    </a>

    <div class="product-rating-row">
      <span class="product-rating"><%= product.rating.toFixed(1) %> ★</span>
    </div>

    <button 
      class="btn-wishlist <%= (locals.user && user.wishlist.includes(product._id)) ? 'active' : '' %>" 
      data-id="<%= product._id %>"
      title="Add to Wishlist"
    >
      ♥
    </button>
  </div>
  
  <a href="/products/<%= product._id %>" class="product-info">
    <span class="product-brand"><%= product.brand %></span>
    <h3 class="product-name"><%= product.name %></h3>
    
    <div class="product-price-row">
      <span class="product-price">$<%= product.price.toFixed(2) %></span>
      <% if (product.originalPrice && product.originalPrice > product.price) { %>
        <span class="product-original-price">$<%= product.originalPrice.toFixed(2) %></span>
        <% } %>
    </div>
  </a>
  
  </div>
